:root{
  --black: #0D0D0D;
  --light-black: #262626;
  --drak-grey: #595959;
  --grey: #D9D9D9;
  --white: #F2F2F2;
}

body{
  font-family: 'Lato', sans-serif;
  color: var(--white);
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.home-con{
  background-color: var(--black) ;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar{
  height: 100vh;
}

.sidebar-mob{
  display: none;
}

.hamburger{
  cursor: pointer;
}

.sidebar-ani{
  position: fixed;
  width: 80%;
  background-color: var(--light-black);
  height: 100vh;
  overflow-y: auto;
  filter: drop-shadow(0 0 10px var(--drak-grey));
  transition: .5s ease-in-out;
}

.sidebar-close{
  position: absolute;
  width: 99%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}



@media (max-width: 768px) {
  .sidebar-mob{
    display: flex;
  }
  .sidebar{
    display: none;
  }
}